* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: #282a36;
}

/* 

color palette :
Background #282a36 
text #f286c4
code #58b845
snippet #1b1b1

*/

/* Global CSS */

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: manrope;
    color: #f286c4;
}

h1 {
    font-family: manrope;
}

h2 {
    font-size: manrope;

}

p {
    font-family: manrope;
    color: white;
}

button {
    text-decoration: none;
    padding: 12px 24px;
    font-size: 1.2em;
    border: solid white 0px;
    border-radius: 10px;
    color: white;
    background-color: #58b845;
    transition: 0.3s;
}

button:hover {
    background-color: #f286c4;
}

i {
    margin-left: 18px;
    color: #58b845;
    transition: 0.3s;
}

i:hover {
    color:#f286c4 ;
}

hr {
    color: black;
}

/* End of Global CSS */

.hero {
    height: 100vh;
}

.ctn {
    display: flex;
    align-items: center;
}

.ctn a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.ctn a:hover {
    text-decoration: none;
    color: #282a36 ;
}

#in-hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.work {
    background: white;
}

#in-work {
    text-align: center;
}

#project-select {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#project-select p {
    color: #282a36;
}

#project-select h3 {
    color: #282a36;
}

#project-select h1 {
    color: #58b845;
}

.card {
    border: solid #58b845 1.5px;
    border-radius: 18px;
    margin : 15px 0px;
    padding: 40px 40px;
}

#in-work p {
    color: #282a36 ;
}

.display-work{
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    width: 500px;
    border-radius: 18px;
}

#in-photography {
    text-align: center;
}

#in-photography p {
    color: #282a36;
}

